

/* CABEÇALHO */

.cabecalho {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfeff;
  padding: 60px 30px;
  border-radius: 0px 0px 20px 20px ; 
  height: 100px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.233);
}

.cabecalhoHome {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfeff;
  padding: 60px 30px;
  border-radius: 0px 0px 20px 20px ; 
  height: 100px;
}

.Logo{
  cursor: pointer;
}
  
  /* ESTILO DO BOTÃO DO MENU */
  


.bto {
  background: transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  border: none;
  font-family: cursive;
}

button:hover {
 color: rgb(0, 1, 12);
  font-weight: bold;
}

.btoSOS{
  justify-content: end;
  background: red;
  color: white;
  font-weight: bold;
  border: red 1px solid;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}


/*Hero Home Inicio*/

.homeInicio{
  height: 100dvh;
  background-image: url(../assets/imagens/homeInicio1.png);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.textoHome{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin:300px 200px 20px 200px;
}
 
 .textoHome > h1{
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: cursive;
  margin-bottom: 20px;
} 

.textoHome > span{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}

.btoAjuda{
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 250px;
  height: 60px;
  background-color: #D3D2E2;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}




/* MENU CARDS */
.menuCards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  background-image: url(../assets/imagens/vector.png);
  background-size: cover;
  height: 130dvh;
  gap: 20px;
}

.menuCards > h1{
  display: flex;
  margin-top: 200px ;
}

.containerCards {
  display: grid;        
  grid-template-columns: 1fr 1fr 1fr; 
  margin: 0px 450px;             
}

.card { 
  padding: 10px;     
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 20px;  
  margin: 20px;          
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

.card > h2{
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}



/*---------------------------------------------*/

.tiposAbusos{
  height: 100dvh;
  background-color: #F1C5A1;
}

.perguntasFrequentes{
    height: 100dvh;
}

/* Login e Cadastro */

.containerLogin{
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-image: url(../assets/imagens/bgLogin2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.loginGeral{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  display: flex;
  flex-direction: column;
  padding: 80px;
  border: 1px solid black;
  border-radius: 32px;
  background-color: #FFF;
  box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.233);
}
.bemVindo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.bemVindo > p{
  font-size: 45px;
  font-weight: bold;
} 

.bemVindo > span{
  font-family: cursive;
} 

.form{
  display: flex;
  flex-direction: column;
  
}

.formDiv{
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
  gap: 10px;
}
.email{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.containerCadastreSe{
  display: flex;
  flex-direction: column;
  font-family: cursive;
  gap: 10px;
  margin: 20px 0px;
}

.cadastreSe{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cadastreSe > p{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cadastreSe > span{
  cursor: pointer;
}

.esqueciSenha{
  display: flex;
  justify-content: end;
}

.botaoCadastro{
  color: rgb(23, 140, 218);
  font-family: sans-serif;
}

.botaoCadastro:hover{
  text-decoration: underline;
}


.loginCard .divInput{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.loginCard button{
  width: 100%;
  padding: 10px;
  background-color: #A9DBEC;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginCard button:hover{
  background-color: #757575;
} 


/*Rodapé da Home*/

.rodapeHome{
  display: flex;
  height: 50dvh;
  background-image: url(../assets/imagens/rodapeHome.png);
  background-size: cover;
}

.redesRodape{
  height: 100px;
  margin: 150px 0px 0px 250px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.redesRodape > span{
   text-decoration: underline;
}

.redesSociais{
   text-decoration: underline;
}
.redesSociais > img{
  width: 35px;
  height: 35px;
}


.criadoLar{
  display: flex;
  flex-direction: row;

}
.criadoLar > h1{
  font-size: 25px;
  font-style: italic;
}
.criadoLar > p{
  font-size: 15px;
  font-weight: lighter;
    margin: 8px 0px 0px 15px;
}


