
/* Div geral */
.divFormGeral {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Menu lateral */
.divLateral {
  background-color: #D3D2E2;
  width: 400px;
  height: 100vh;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  padding: 48px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  margin-right: 50%;
}

/* Título centralizado */
.divLateral h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 0;
}

/* Linha abaixo do título */
.divLateral hr {
  border: none;
  border-top: 2px solid #222;
  width: 95px;
  margin: 0 0 24px 0;
  text-align: center;
}

/* Texto do parágrafo */
.divLateral p {
  color: #222;
  font-size: 1rem;
  margin-bottom: 18px;
  line-height: 1.5;
  text-align: left;
}


.divHs{
text-align: center;
}