/* CABEÇALHO */

.cabecalho {
    display: flex;
    flex-direction: row;
    /* justify-content: end; */
    align-items: center;
    background-color: #A9DBEC;
    padding: 10px;
    border-radius: 5px; 
    height: 100px;
  }
  
  .cab-menu1, .cab-menu2 {
      color: white;
      font-size: 20px;
      padding: 10px;
  }
  
  
  /* RODAPÉ */
  
  .rodape {
      background-color: #A9DBEC;
      color: #fff;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
     
  }
  

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  .cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

/* COMPLEMENTO INSTITUIÇÃO */

.divInst {
  display: flex;
  flex-direction: row;
  
}

  .instCard {
    width: 200PX;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #F2C49F;
    margin: 10px;
    padding: 10px;
  }

  /* ESTILO DO BOTÃO DO MENU */
  


.bto {
  background: transparent;
  border: #A9DBEC 1px solid;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

button:hover {
  color: white;
  /* text-decoration: underline;
  text-decoration-color: white; */
  /* text-decoration-style: wavy; */
  font-weight: bold;
}

.btoSOS{
  background: red;
  color: white;
  font-weight: bold;
  border: red 1px solid;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

