*{
margin:0;
padding: 0;
box-sizing: border-box;
outline: none;
text-decoration: none;

}


/* CABEÇALHO */

.cabecalho {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfeff;
  padding: 60px 30px;
  border-radius: 0px 0px 20px 20px ; 
  height: 100px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.233);
}
  
.cab-menu1, .cab-menu2 {
    color: white;
    font-size: 20px;
    padding: 10px;
}

  
  /* RODAPÉ */
  
  .rodape {
      background-color: #A9DBEC;
      color: #fff;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
     
  }
  

  

/* COMPLEMENTO INSTITUIÇÃO */

.divInst {
  display: flex;
  flex-direction: row;
  
}

  .instCard {
    width: 200PX;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #F2C49F;
    margin: 10px;
    padding: 10px;
  }

  /* ESTILO DO BOTÃO DO MENU */
  


.bto {
  background: transparent;
  border: #A9DBEC 1px solid;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

button:hover {
  color: white;
  /* text-decoration: underline;
  text-decoration-color: white; */
  /* text-decoration-style: wavy; */
  font-weight: bold;
}

.btoSOS{
  background: red;
  color: white;
  font-weight: bold;
  border: red 1px solid;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}





    /* CSS FormQueroAjuda */
  
  .divPaiForAjuda{
    display: grid;
    place-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #d4d3ed;
    height: 900px;
    border-radius: 5%;
    height: 1000px;
  }
    
  /* DIV PRINCIPAL */
  .FormAjuda{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: auto;
    border-radius: 5%;
    background-color: #f2c49f;
    margin-top: -10%;
    
  }

  /* hr da pagina FormQuero Ajuda */
  .ForHr{
    width: 600px;
  }

  /* paragrafo a pagina FormQuero Ajuda */

  .FormParagrafo{
    text-align: center;
  }

  /* FormInput a pagina FormQuero Ajuda */

  .FormInput {
    text-align: center;
    width: 500px;
  }

  .formH2{
    margin-top: -10%;
  }